p{
    color: red;
    text-transform: uppercase;
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */

    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: line-through; */

    /* text-shadow: 10px 10px 2px red; */

    /* text-indent: 100px; */

    /* letter-spacing: 5px; */
    /* word-spacing: 55px; */

    /* line-height: 40px; */
}

h1{
    color: blueviolet;
    /* text-align: center; */
    /* text-align: right; */
    text-align: left;
}

h2{
    border: 3px solid;
    height: 300px;
    width: 300px;
    /* overflow: visible; */
    overflow: hidden;
    /* overflow: scroll; */
    /* overflow: auto; */
    /* resize: horizontal; */
    /* resize: vertical; */
    /* overflow-x: hidden; */
}

h3{
    text-align: center;
    height: 45px;
    width: 100px;
    border: 3px solid;
    /* text-decoration-line: underline ; */
    /* text-decoration-style: dotted ; */
    /* text-decoration-style: wavy ; */
    /* text-decoration-color: red ; */
    text-emphasis: "R";

    
}